doctype html
html(prefix="og: http://ogp.me/ns#" lang="ru")
	include variables
	include inc/buttons/variables
	include inc/head
	body
		.container
			.row
				.container-fluid
					h1.text-center
						|#{title}
					section.row
						.container-fluid
							.buttons.row
								.col
									p
										|Large
										br
										button.btn(data-text="Button")
											span
												|Button
								.col
									p
										|Medium
										br
										button.btn-medium(data-text="Button")
											span
												|Button
								.col
									p
										|Small
										br
										button.btn-small(data-text="Button")
											span
												|Button
								.col
									p
										|Large Round
										br
										button.btn.btn-round(data-text="Button")
											span
												|Button
								.col
									p
										|Medium Round
										br
										button.btn-medium.btn-round-medium(data-text="Button")
											span
												|Button
								.col
									p
										|Small Round
										br
										button.btn-small.btn-round-small(data-text="Button")
											span
												|Button
								.col
									p
										|Gray Large
										br
										button.btn-gray(data-text="Button")
											span
												|Button
								.col
									p
										|Gray Medium
										br
										button.btn-gray-medium(data-text="Button")
											span
												|Button
								.col
									p
										|Gray Small
										br
										button.btn-gray-small(data-text="Button")
											span
												|Button
								.col
									p
										|Gray Large Round
										br
										button.btn-gray.btn-round(data-text="Button")
											span
												|Button
								.col
									p
										|Gray Medium Round
										br
										button.btn-gray-medium.btn-round-medium(data-text="Button")
											span
												|Button
								.col
									p
										|Gray Small Round
										br
										button.btn-gray-small.btn-round-small(data-text="Button")
											span
												|Button