- var cmsmagazine = 'd8e7426ec72ad3e4ea38b09ebf01284c';
- var tpath = 'dest';
- var time = (new Date()).getTime();
- var robots = 'index, follow';
- var autor = 'ProjectSoft & STUDIONIONS';
- var title = "Button UI";
- var description = "Button UI";
- var keywords = "Button UI";